{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block content %}
<div class="edit-profile">
    <div class="container">
        <div class="list-nav">
            <div class="nav-left">
                <div class="sidebar-nav-fixed affix">
                    <ul class="nav">
                        <li>
                            {% if user == current_user %}
                            <h3>My Account</h3><br>
                            <li>
                                <a href="{{ url_for('main.update_profile', uname=user.username) }}">
                                    <i class="fa fa-user"></i> Account Settings</a>
                            </li>
                            <li><a href=""><i class="fa fa-location-arrow"></i> Address Book</a></li>
                            <li>
                                <a href="{{ url_for('auth.change_email_request') }}">
                                    <i class="fa fa-envelope"></i> Change Email</a>
                            </li>
                            <li>
                                <a href="{{ url_for('auth.change_password') }}">
                                    <i class="fa fa-key"></i> Change Password</a>
                            </li>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="edit-grids">
            <div class="edit-form">
                <div class="edit">
                    <h3>Account Settings</h3><br> {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}