{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="change-email-form">
        <div class="container">
            <div class="list-nav">
                <div class="nav-left">
                    <div class="sidebar-nav-fixed affix">
                        <ul class="nav">
                            <li><h3>My Account</h3><br>
                            <li><a href="{{ url_for('main.edit_profile') }}">
                            <i class="fa fa-user"></i> Account Settings</a></li>
                            <li><a href="">
                                <i class=" fa fa-location-arrow"></i> Address Book</a></li>
                            <li><a href="{{ url_for('auth.change_email_request') }}">
                                <i class="fa fa-envelope"></i> Change Email</a></li>
                            <li><a href="{{ url_for('auth.change_password') }}">
                                <i class="fa fa-key"></i> Change Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="email-grids">
            <div class="email-form">
                <div class="email">
                    <h3>Change Email</h3><br>
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
