body {
    background-image: url("../imgs/bg5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.qcard {
    background-color: black;
    opacity: 0.9;
    margin-top: 2%;
    padding: 8%;
    border-radius: 8px;
    color: white;
    margin-bottom: 2%;
}