{% extends 'bootstrap/base.html'%} {% include 'navbar.html'%} {% import 'bootstrap/wtf.html' as wtf %} {% import 'macros.html' as macro %} {% block content%}
<div class="row">
    <div class="card">
        <div class="card-body text-center" style="font-family:Dosis;font-size: 30px;">
            <h4><a>{{blog.title}}</a></h4>
            <h5 class="card-text text-center">{{blog.description}}.</h5>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                {{wtf.quick_form(form)}}
            </div>
        </div>
    </div>

    <hr>
    <hr>
    <div class="container">
        <div class="col-md-12">
            <h4 style="color: brown; text-align: center;text-underline-position: below;font-family: Great Vibes;font-size: 30px;">Comments</h4>
            {{ macro.displayComment(comment) }}

        </div>

    </div>

</div>

{%endblock%}