{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf %} {% import 'macros.html' as macro %}

<!--styles block-->
{% block styles%} {{ super() }}
<link href="https://fonts.googleapis.com/css2?family=Dosis&family=Marck+Script&family=Sacramento&family=Playball&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">{% endblock %}

<!-- content block-->
{% block content %}

<div class="container-fluid welcome-page">
    <div class="container" style="font-size: 30px;font-family:Marck;">

        <div class="row">
            <div class="col-md-12 welcome">
                {% if current_user.is_authenticated%}
                <h1 style="align-items: center; color:teal; font-size: 40px; font-family: Dosis; font-weight: 900;">Welcome to Kai's Blog!</h1><br> {% endif %}
            </div>
        </div>

        <div class="first">
            <div class="qcard">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-text" style="color: rgb(10, 65, 65); font-size: larger;">
                            {{quote.quote}}
                        </h5>
                        <p class="">
                            <strong style="font-style: italic;">Author :</strong>
                            <small><span style="text-decoration: underline; font-size: 18px;"
                        >{{quote.author}}</span
                      >
                    </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="border-bottom: orange 10px solid;">

    <h1 style="color:blue;text-align: center"><u>Blog list</u></h1>
    <br>
    <div class="thumbnail text-center" style="font-family:Dosis;font-size: 30px;">
        {{ macro.displayBlog(blog) }}
    </div>

</div>
<div class="jumbotron" style="background-color: black;">
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold" style="color: aqua;">About us</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae.</p>

                </div>
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <div class="bottom" style="color: teal;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-md-10 mx-auto">
                                    <p class="copyright text-white text-center">
                                        © 2020 Copyright:
                                        <a href="https://github.com/rosekairu/"> &nbsp; Rose Kairu</a> <br>
                                        <a href="{{url_for('auth.subscribe')}}">Subscribe to get Updates</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Social -->
        <div class="row" style="margin-left: 500px;">
            <div class=" col-md-1 ">
                <img src="../static/imgs/linkedin.png " alt="LinkedIn " /> &nbsp;
            </div>
            <div class="col-md-1 ">
                <img src="../static/imgs/twitter.png " alt="Twitter " /> &nbsp;
            </div>
            <div class="col-md-1 ">
                <img src="../static/imgs/github.png " alt="GitHub " />
            </div>

        </div>
</div>
</div>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
</div>

{% endblock %}