{% macro displayBlog(blogs) %}
<div class="row">
    <!-- {% if blogs %} -->
    {% for blog in blogs %}

    <div class="col-md-6">
        <div class="thumbnail text-center">

            <div class="card">
                <h1 class="card-title" style="margin-left: 200px; margin-right:300px;font-size: 30px;">{{blog.title}}</h1>
                <p>
                    <div class="card-text" style="font-size: 30px;">
                        <h2>{{blog.description}}</h2>
                    </div>
                    <cite style="margin-left:300px; font-size: 25px;">Posted by {{blog.user.username}}</cite>
                </p>

                <a href="{{url_for('main.new_comment',blog_id = blog.id)}}" class="btn btn-primary" style="font-size: 20px;"> comment</a>


            </div>
        </div>
    </div>

    {% endfor %} {% else %}
    <!-- {% endif %} -->
</div>
{% endmacro %} {% macro displayComment(comments) %}
<ul>

    {% if comments %} {% for comment in comments %}
    <div class="thumbnail text-center" style="font-family: Great Vibes;font-size: 30px;">
        <div class="card">
            <a>
                <p style="color:black;font-family: Great Vibes;font-size: 30px">{{ comment.description }}</p>
            </a>
            <small> posted by {{comment.user.username}}</small>
        </div>
    </div>
    {% endfor %} {% else %}

    <h3 style="color:black">This post does not does not have any comments yet !</h3>
    {%endif%}

</ul>


{% endmacro %}