<div class="navbar navbar-inverse" role="navigation" style="font-family: Dosis;font-size: 18px;color: blueviolet;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blogs/new/">Add a blog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{url_for('auth.subscribe')}}">Subscribe</a>
                </li>
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                <li><a href="{{url_for('auth.logout')}}">SignOut</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">SignIn</a></li>
                {%endif%}

            </ul>
        </div>
    </div>

</div>